<%- partial('common/head') %>
<body>
    <div id="container">
        <%- partial('common/header') %>
        <div class="outer">
            <section id="main"><%- body %></section>
            <section id="sidebar">
                <% if (theme.customize.profile.enabled) { %>
                    <%- partial('common/profile', null, {cache: !config.relative_link}) %>
                <% } %>
                <% if (theme.customize.sidebar) { %>
                    <%- partial('common/sidebar', null, {cache: !config.relative_link}) %>
                <% } %>
            </section>
        </div>
        <%- partial('common/footer', null, {cache: !config.relative_link}) %>
        <%- partial('common/scripts') %>
        <%- partial(`schemes/${theme.scheme.style}_style`) %>
    </div>
    <%- partial('widget/coloured_ribbon') %>
</body>
</html>