<%- partial('common/head') %>
<body>
    <% if (theme.customize.opacity.enable) { %>
        <script type="text/javascript">
            var horizontal_img_count = <%- theme.customize.opacity.background_images_count.horizontal_img_count %>;
            var vertical_img_count = <%- theme.customize.opacity.background_images_count.vertical_img_count %>;
            if (window.innerWidth > window.innerHeight) {
                var background_image_index = ~~(Math.random() * horizontal_img_count);
                document.body.style.backgroundImage="url(/images/background/horizontal/img_"+background_image_index+".jpg)";
            } else {
                var background_image_index = ~~(Math.random() * vertical_img_count);
                document.body.style.backgroundImage="url(/images/background/vertical/img_"+background_image_index+".jpg)";
            }
        </script>
    <% } %>
    <div id="container">
        <%- partial('common/header') %>
        <div class="outer">
            <% if (theme.customize.profile.enabled) { %>
                <%- partial('common/profile', null, {cache: !config.relative_link}) %>
            <% } %>
            <section id="main"><%- body %></section>
            <% if (theme.customize.sidebar) { %>
                <%- partial('common/sidebar', null, {cache: !config.relative_link}) %>
            <% } %>
        </div>
        <%- partial('common/footer', null, {cache: !config.relative_link}) %>
        <%- partial('common/scripts') %>
    </div>
</body>
</html>